html body {
	color: #46B7A3;
}

#sub-footer {
	background: #084482;
	padding: 0.8em;
}

.m-text {
	color: #FFF;
	font-size: 14px;
	margin-left: 10px;
}


.m-img {
	position: relative;
	top: -5px;
}

.m-table {
	color: #666;
}

.m-socials i{
	padding: 0.4em;
	color: #666;
}

.m-footer {
	color: #000;
}

.m-input {
	padding: 0.4em;
	border: 0px solid #084482;
	width: 220px;
	margin-left: 10px;
	border-radius: 4px;
}

.m-btnlink {
	padding: 0.5em;
	color: #828282;
}

.m-btnlink-login {
	padding: 0.5em;
	border: 1px solid #46B7A3;
	color: #828282;
	border-radius: 4px;
	width: 100px;
	text-align: center;
}

.m-btnlink-signup {
	padding: 0.5em;
	border: 1px solid #46B7A3;
	color: #FFFFFF;
	background-color: #46B7A3;
	border-radius: 4px;
	width: 100px;
	text-align: center;;
}

.board1 {
  margin-top: 7px;
  float: right;
  width: 1440px;
}

.boxed {
  background-color: #333333;
  width: 360px;
  height: 40px;
  float: left;
  margin-left: -30px;
  text-align: center;
  border: 1px solid #333333;
  border-radius: 4px;
  margin-top: -230px;
}


.boxed1 {
  background-color: #7DD1D7;
  width: 380px;
  height: 40px;
  float: left;
  margin-left: -30px;
  text-align: center;
  border: 1px solid #7DD1D7;
  border-radius: 4px;
  margin-top: -185px;
}

.boxed2 {
  background-color: #EB5757;
  width: 210px;
  height: 40px;
  float: left;
  margin-left: -30px;
  text-align: center;
  border: 1px solid #EB5757;
  border-radius: 4px;
  margin-top: -140px;
}

.h5-text {
  float: left;
  margin-left: -30px;
  margin-top: 20px;
}

  .x1 {
    width: 1180px;
    float: left;
    margin-top: -3px;
  }

.boxed3 {
  float: left;
  margin-left: -50px;
  text-align: center;
  margin-top: 0px;
}

.boxed-mini1 {
  background-color: #C4C4C4;
  opacity: 0.9;
  height: 70px;
  width: 300px;
  margin-top: -70px;
}

.boxed-text1 {
  float: left;
  margin-left: 10px;
  margin-top: 0px;
}

.boxed-text2 {
  float: right;
  margin-right: -40px;
  margin-top: -13px;
}

.button-boxed {
    color: #46B7A3;
    float: left;
    margin-left: 200px;
    margin-top: -40px;
    border-radius: 1px solid #46B7A3;
  }

.boxed4 {
  float: left;
  margin-left: 10px;
  text-align: center;
  margin-top: 0px;
}

.boxed-mini2 {
  background-color: #C4C4C4;
  opacity: 0.9;
  height: 70px;
  width: 300px;
  margin-top: -70px;
}

.boxed-text2 {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.boxed-text3 {
  float: left;
  margin-left: 2px;
  margin-top: -8px;
}

.button-boxed1 {
    color: #46B7A3;
    float: left;
    margin-left: 200px;
    margin-top: -30px;
    border-radius: 1px solid #46B7A3;
  }

.boxed5 {
  float: left;
  margin-left: 10px;
  text-align: center;
  margin-top: 0px;
}

.boxed-mini5 {
  background-color: #C4C4C4;
  opacity: 0.9;
  height: 70px;
  width: 300px;
  margin-top: -70px;
}

.boxed-text5 {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.boxed-text5a {
  float: left;
  margin-left: 2px;
  margin-top: -8px;
}

.button-boxed5 {
    color: #46B7A3;
    float: left;
    margin-left: 200px;
    margin-top: -30px;
    border-radius: 1px solid #46B7A3;
  }

.boxed6 {
  float: right;
  margin-right: -40px;
  text-align: center;
  margin-top: 0px;
}

.boxed-mini6 {
  background-color: #C4C4C4;
  opacity: 0.9;
  height: 70px;
  width: 300px;
  margin-top: -70px;
}

.boxed-text6 {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.boxed-text6a {
  float: left;
  margin-left: 2px;
  margin-top: -8px;
}

.button-boxed6 {
    color: #46B7A3;
    float: left;
    margin-left: 200px;
    margin-top: -30px;
    border-radius: 1px solid #46B7A3;
  }

.boxed-pic {
  position: absolute;
  float: left;
  margin-left: 505px;
  margin-top: 750px;
  z-index: +1;
}

.boxed-x {
    background-color: #46B7A3;
    float: left;
    margin-left: -100px;
    width: 1310px;
    height: 100px;
    margin-top: 100px;
  }

.x-text {
    color: #FFF;
    text-align: center;
    margin-top: 30px;
  }

.text-info {
  text-align: center;
  float: right;
  margin-right: 260px;
  margin-top: 30px;
}

.boxed-10 {
  float: left;
  margin-left: auto;
}

.boxed-11 {
  float: right;
  margin-right: auto;
  margin-top: 20px;
}

.boxed-12 {
 float: left;
 margin-left: 90px;
 margin-top: 20px;
 }

.text-note {
  float: right;
  margin-right: auto;
  margin-top: 10px;
 }

.y {
    width: 1140px;
    float: left;
    margin-top: 25px;
  }

.button-x {
    float: left;
    margin-left: 0px;
    border-radius: 1px solid #7773AF;
    margin-top: 18px;
  }

.button-y {
    float: left;
    margin-left: -140px;
    width: 250px;
    border-radius: 1px solid #7773AF;
    margin-top: 60px;
  }

.button-z {
    float: left;
    margin-left: -250px;
    width: 250px;
    border-radius: 1px solid #7773AF;
    margin-top: 100px;
  }






