html body {
	color: #00AEFF;
}

#main {
	background: url(/img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: auto;
	color: #666;
}


#sub-footer {
	background: #084482;
	padding: 0.8em;
}

.m-text {
	color: #FFF;
	font-size: 14px;
	margin-left: 10px;
}


.m-img {
	position: relative;
	top: -5px;
}

.m-table {
	color: #666;
}

.m-socials i{
	padding: 0.4em;
	color: #666;
}

.m-footer {
	color: #666;
}

.m-input {
	padding: 0.4em;
	border: 0px solid #084482;
	width: 220px;
	margin-left: 10px;
	border-radius: 4px;
}

.m-btnlink {
	padding: 0.5em;
	color: #828282;
}

.m-btnlink-login {
	padding: 0.5em;
	border: 1px solid #00AEFF;
	color: #828282;
	border-radius: 4px;
	width: 100px;
	text-align: center;
}

.m-btnlink-signup {
	padding: 0.5em;
	border: 1px solid #00AEFF;
	color: #FFFFFF;
	background-color: #00AEFF;
	border-radius: 4px;
	width: 100px;
	text-align: center;;
}

#terms {
	background-color: #ffffff;
}

#privacy {
	background-color: #ffffff;
}

#about {
	background-image: url(/img/lagos.jpg); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: right bottom, left top;
	color: #FFF;
	text-align: center;
	height: 500px;
}

.button {
  background-color: #00AEFF;
  width: 130px;
  text-align: center;
  margin-top: 25px;
  border: 4px solid #00AEFF;
  border-radius: 4px;
  color: #FFFFFF;
  }

  h2 {
  	margin-top: 190px;
  }

  #about-second {
  	background-color: #FFF;
  	text-align: center;
  	height: 350px;
  }

  #about-third {
  	background-color: #C4C4C4;
  	text-align: center;
  	height: 500px;
  }

  #welcome {
  background-image: url(/img/operatingroom.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: right;
	text-align: center;
	color: #FFF;
	height: 450px;
  }

  #welcome1 {
  	background-color: #FFF;
  }

  .logo1 {
   	width: 580px;
  	float: right;
  	margin-top: -160px;
  }
  .logo1 img {
  	margin: auto 5px;
  	float: right;
  	height: 400px;
  	width: 530px;
  	margin-top: 10px;
  }

  #welcome2 {
  	background-color: #FFF;
  	height: 380px;
    text-align: right 150px;
  }

  .welcome2-text {
    float: right;
    margin-right: 127px;
    margin-top: -110px;
  }

  .logo2 {
  	width: 580px;
  	float: left;
  }
  .logo2 img {
  	margin: auto 5px;
  	float: left;
  	height: 350px;
  	width: 500px;
  	margin-top: -90px;
  }

  #blog {
  background-image: url(/img/laptop.png);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: cover;
	text-align: center;
	color: #FFF;
	height: 350px;
  }

  #blog1 {
  	background-color: #FFF;
  }

  .blog1 {
  	background-color: #FFF;
  	float: right;
  	margin-right: 230px;
  }

  .blog1 img {
  	width: 510px;
  	height: 200px;
  }

  .profile-pic img {
   	width: 70px;
  	height: 70px;
  	float: left;
  	margin-left: -100px;
  	margin-top: -360px;
  }

  .profile-name {
  	float: right;
  	margin-right: 756px;
  	margin-top: -290px;
  }

  #blog2 {
  	background-color: #FFF;
  }

  .blog2 {
  	background-color: #FFF;
  	float: right;
  	margin-right: 230px;
  }

  .blog2 img {
  	width: 510px;
  	height: 200px;
  }

  .profile-pic2 img {
   	width: 70px;
  	height: 70px;
  	float: left;
  	margin-left: -100px;
  	margin-top: -360px;
  }

  .profile-name2 {
  	float: right;
  	margin-right: 756px;
  	margin-top: -290px;
  }

  #blog3 {
  	background-color: #FFF;
  }

  .blog3 {
  	background-color: #FFF;
  	float: right;
  	margin-right: 230px;
  }

  .blog3 img {
  	width: 510px;
  	height: 200px;
  }

  .profile-pic3 img {
   	width: 70px;
  	height: 70px;
  	float: left;
  	margin-left: -100px;
  	margin-top: -360px;
  }

  .profile-name3 {
  	float: right;
  	margin-right: 756px;
  	margin-top: -290px;
  }

  #blog4 {
  	background-color: #FFF;
  }

  .blog4 {
  	background-color: #FFF;
  	float: right;
  	margin-right: 230px;
  }

  .blog4 img {
  	width: 510px;
  	height: 200px;
  }

  .profile-pic4 img {
   	width: 70px;
  	height: 70px;
  	float: left;
  	margin-left: -100px;
  	margin-top: -338px;
  }

  .profile-name4 {
  	float: right;
  	margin-right: 756px;
  	margin-top: -268px;
  }


  .load-more {
 	text-align: center;
 	color: #FFFFFF;
  float: left;
  margin-left: 500px
  }



  #faq {
  background-image: url(/img/paper.png);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: cover;
	text-align: center;
	color: #FFF;
	height: 450px;
  }

  #text {
  	background-color: #FFF;
  	text-align: center;
    cursor: pointer;
  }

  #boxed {
  	background-color: #FFF;
  }

  .boxed {
  	background-color: #FFF;
  	border: 1px solid #C4C4C4;
  	text-align: center;
  	width: 330px;
  	height: 485px;
  }

  .button-boxed {
  	float: left;
  	margin-left: 123px;
  	margin-top: -47px;
  	border-radius: 1px solid #C4C4C4;
  }

  #boxed {
    background-color: #FFF;
  }

  .boxed2 {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    text-align: center;
    float: left;
    margin-left: 406px;
    margin-top: -507px;
    width: 330px;
    height: 485px;
  }

  .button-boxed2 {
    float: left;
    margin-left: 530px;
    margin-top: -69px;
    border-radius: 1px solid #C4C4C4;
  }

  #boxed {
    background-color: #FFF;
  }

  .boxed3 {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    float: right;
    margin-right: auto;
    text-align: center;
    margin-top: -530px;
    width: 330px;
    height: 485px;
  }

  .button-boxed3 {
    float: right;
    margin-right: 125px;
    margin-top: -92px;
    border-radius: 1px solid #C4C4C4;
  }

  #boxed {
    background-color: #FFF;
  }

  .boxed4 {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    text-align: center;
    margin-top: 0px;
    width: 330px;
    height: 485px;
  }

  .button-boxed4 {
    float: left;
    margin-left: 123px;
    margin-top: -47px;
    border-radius: 1px solid #C4C4C4;
  }

  #boxed {
    background-color: #FFF;
  }

  .boxed5 {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    text-align: center;
    float: left;
    margin-left: 406px;
    margin-top: -507px;
    width: 330px;
    height: 485px;
  }

  .button-boxed5 {
    float: left;
    margin-left: 530px;
    margin-top: -69px;
    border-radius: 1px solid #C4C4C4;
  }

    #boxed {
    background-color: #FFF;
  }

  .boxed6 {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    float: right;
    margin-right: auto;
    text-align: center;
    margin-top: -508px;
    width: 330px;
    height: 485px;
  }

  .button-boxed6 {
    float: right;
    margin-right: 125px;
    margin-top: -70px;
    border-radius: 1px solid #C4C4C4;
  }

  #biggerbox {
    background-image: linear-gradient(to right, #084482, transparent 115%), url(/img/doctor.png);
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: left;
    height: 500px;
    color: #FFF;
  }

  .boxed-mini {
    background-color: #00AEFF;
    width: 150px;
    text-align: center;
    border-radius: 2px;
    margin-top: -150px;
  }

  .biggerboxed-button {
    margin-top: 135px;
    opacity: 0.5;
  }

  .socials {
    float: left;
    margin-left: 110px;
    margin-top: -32px;
  }

  #boxed {
    background-color: #FFF;
  }

  .boxed7 {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    text-align: center;
    margin-top: 30px;
    width: 330px;
    height: 485px;
  }

  .button-boxed7 {
    float: left;
    margin-left: 123px;
    margin-top: -47px;
    border-radius: 1px solid #C4C4C4;
  }

  #boxed {
    background-color: #FFF;
  }

  .boxed8 {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    text-align: center;
    float: left;
    margin-left: 406px;
    margin-top: -507px;
    width: 330px;
    height: 485px;
  }

  .button-boxed8 {
    float: left;
    margin-left: 530px;
    margin-top: -69px;
    border-radius: 1px solid #C4C4C4;
  }

  #boxed {
    background-color: #FFF;
  }

  .boxed9 {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    text-align: center;
    float: left;
    margin-left: 406px;
    margin-top: -507px;
    width: 330px;
    height: 485px;
  }

  .button-boxed9 {
    float: left;
    margin-left: 530px;
    margin-top: -69px;
    border-radius: 1px solid #C4C4C4;
  }

  #boxed {
    background-color: #FFF;
  }

  .boxed10 {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    text-align: center;
    margin-top: 30px;
    width: 330px;
    height: 485px;
  }

  .button-boxed10 {
    float: left;
    margin-left: 123px;
    margin-top: -47px;
    border-radius: 1px solid #C4C4C4;
  }

  #boxed {
    background-color: #FFF;
  }

  .boxed11 {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    text-align: center;
    float: left;
    margin-left: 406px;
    margin-top: -485px;
    width: 330px;
    height: 485px;
  }

  .button-boxed11 {
    float: left;
    margin-left: 530px;
    margin-top: -47px;
    border-radius: 1px solid #C4C4C4;
  }

  #boxed {
    background-color: #FFF;
  }

  .boxed12 {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    float: right;
    margin-right: auto;
    text-align: center;
    margin-top: -486px;
    width: 330px;
    height: 485px;
  }

  .button-boxed12 {
    float: right;
    margin-right: 125px;
    margin-top: -48px;
    border-radius: 1px solid #C4C4C4;
  }

  .press-button {
    float: left;
    margin-left: 530px;
  }

  #dashboard {
    background-color: #FFF;
  }

  .boxed-dash1 {
    background-color: #084482;
    width: 200px;
    height: 200px;
    float: left;
    margin-left: -70px;
  }

  .dash-img {
    margin-top: 20px;
    float: right;
    margin-right: 25px;
    border: 2px solid #FFF;
    border-radius: 50%;
  }

  .boxed-dash2 {
    background-color: #019AE8;
    float: left;
    margin-left: -200px;
    margin-top: 200px;
    width: 200px;
    height: 550px;
  }

  .dash2-text {
    text-align: center;
    color: #FFF;
    margin-bottom: 100px;
  }

  .dash2-text1 {
    color: #FFF;
    float: left;
    margin-left: 50px;
    margin-top: -80px;
  }

  .vl {
    border-left: 2px solid #FFF;
    height: 44px;
    float: right;
    margin-right: 105px;
    margin-top: -80px;
  }

  .dash2-text2 {
    color: #FFF;
    float: right;
    margin-right: 42px;
    margin-top: -80px;
  }

  .avatar {
    float: left;
    margin-left: 55px;
    margin-top: 0px;
  }

  .dash2-text3 {
    color: #FFF;
    float: left;
    margin-left: 92px;
    margin-top: -72px;
  }

  .boxed-mini1 {
    background: #00AEFF;
    color: #FFFFFF;
    text-align: center;
    float: left;
    margin-left: -191px;
    margin-top:465px;
    width: 180px;
    height: 48px;
    border-radius: 3px;
  }

  .boxed-mini2 {
    background: #00AEFF;
    color: #FFFFFF;
    text-align: center;
    float: left;
    margin-left: -191px;
    margin-top:518px;
    width: 180px;
    height: 48px;
    border-radius: 3px;
  }

  .boxed-mini3 {
    background: #00AEFF;
    color: #FFFFFF;
    text-align: center;
    float: left;
    margin-left: -191px;
    margin-top:571px;
    width: 180px;
    height: 48px;
    border-radius: 3px;
  }

  .p-visit {
    color: #FFF;
    float: left;
    margin-left: auto;
    margin-top: 115px;
  }

  .boxed-dash3 {
    background-color: #FFF;
    width: 1080px;
    height: 167px;
    border: 1px solid #C4C4C4;
    margin-top: -620px;
    float: left;
    margin-left: 191px;
  }

  .text-dash3 {
    color: #828282;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    letter-spacing: 1px;
  }

  .x {
    width: 250%;
    float: left;
    margin-top: -10px;
  }

  .table-contact {
    color: #4f4f4f;
    float: left;
    text-align: left;
    margin-left: -165px;
    margin-top: 52px;
  }

  .inset {
    background-color: #C4C4C4;
    opacity: 1;
    filter: alpha(opacity=100);
    float: left;
    margin-left: 130px;
    margin-top: -584px;
    width: 1080px;
    height: 584px;
    border-style: 4px inset;
  }

  .profile-box {
    background-color: #FFF;
    width: 1020px;
    height: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #C4C4C4;
    border-radius: 4px;
  }

  .profile-h5 {
    color: #4f4f4f;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
  }

    .table-profile {
    color: #4f4f4f;
  }

  .profile-box1 {
    background-color: #FFF;
    width: 440px;
    height: 230px;
    float: left;
    margin-left: -32px;
    margin-top: 125px;
    border: 2px solid #C4C4C4;
    border-radius: 4px;
  }

  .box1-h5 {
    color: #4f4f4f;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
  }

  #contact {
    background-image: linear-gradient(to right, #00AEFF, #00AEFF, transparent 113%), url(/img/contact-map.png);
    background-size: cover;
    width: auto;
    height: 360px;
  }

  .contact-text {
    color: #FFF;
    letter-spacing: 2px;
    margin-top: -90px;
    float: left;
    margin-left: 45px;
  }

  .contact-text1 {
    color: #4f4f4f;
    font-size: 18px;
  }

  #contact1 {
    background-color: #FFF;
    height: 320px;
  }

  .contact-form {
    background-color: #FFF;
    width: 1050px;
    height: 320px;
    margin-top: -100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    border: 0px solid #C4C4C4;
    box-shadow: 0 4px 8px 0 #C4C4C4;
  }

  .contact-address {
    background-color: #084482;
    width: 300px;
    height: 320px;
    margin-top: -320px;
    float: right;
    margin-right: 45px;
    border-radius: 2px;
  }

  .h4-contact {
    color: #FFF;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
  }

  .socials-contact {
    color: #FFF;
    list-style-type: none;
    float: right;
    margin-right: 65px;
  }











